extends: default

ignore: |
  .playwright-cli/
  .claude/

rules:
  line-length: disable
  document-start: disable
  indentation: disable
  trailing-spaces: disable
  comments:
    min-spaces-from-content: 1
