{{- $gitName := (output "git" "config" "--global" "--default" "YOUR_GIT_NAME" "--get" "user.name" | trim) -}}
{{- $gitEmail := (output "git" "config" "--global" "--default" "your-github-id@users.noreply.github.com" "--get" "user.email" | trim) -}}
{{- if hasKey . "gitIdentity" -}}
  {{- if hasKey .gitIdentity "name" -}}
    {{- $gitName = .gitIdentity.name -}}
  {{- end -}}
  {{- if hasKey .gitIdentity "email" -}}
    {{- $gitEmail = .gitIdentity.email -}}
  {{- end -}}
{{- end -}}
[user]
	name = {{ $gitName }}
	email = {{ $gitEmail }}

[core]
	hooksPath = ~/.config/git/hooks
	excludesFile = ~/.config/git/ignore
	pager = delta

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	side-by-side = true

[push]
	default = current
	autoSetupRemote = true

[pull]
	rebase = true

[merge]
	conflictstyle = zdiff3

[diff]
	algorithm = histogram
	colorMoved = default

[rerere]
	enabled = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
